/*estilo para el body de todas las paginas*/
body {
  background: #80587d;
  background: linear-gradient(342deg, rgba(128, 88, 125, 0.723302) 39%, #040000 48%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover; }
/* header de todas la paginas */
.cabecera {
  display: grid;
  grid-template-columns: 5% 90%;
  margin-bottom: 5px; }
  .cabecera .logo {
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 10px; }
    .cabecera .logo h2 {
      padding-bottom: 100px; }
  .cabecera .titulo {
    display: grid;
    justify-items: center;
    font-size: 23px;
    color: mediumvioletred;
    margin-left: 50px;
    padding-right: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; }

h2 {
  margin-top: 10px; }

h2 b {
  text-align: center;
  color: aliceblue; }

h3 {
  text-align: center;
  color: aliceblue; }

h3 b {
  color: mediumvioletred; }

.frase {
  grid-column: 1/4;
  display: grid;
  font-size: 18px;
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  justify-content: center; }
/* nav para interactuar entre paginas, aplicado en todas las paginas */
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  font-size: 15px;
  width: 100%;
  margin-bottom: 60px;
  font-family: monospace; }

.links a {
  color: black; }

a:hover {
  cursor: pointer;
  color: mediumvioletred; }
/* footer para todas las paginas con informacion del lugar */
footer {
  color: whitesmoke;
  font-size: 15px;
  display: flex;
  justify-content: start; }
/* pagina de inicio */
.info {
  margin-top: 25px;
  margin-bottom: 0px;
  text-align: center;
  color: mediumvioletred;
  font-size: 19px;
  font-weight: bold; }

.pagina {
  grid-template-columns: 50% 40%;
  display: grid;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 17px;
  align-items: center; }
  .pagina .descripcion {
    color: aliceblue;
    align-items: center; }
  .pagina .descripcionDos {
    color: aliceblue;
    justify-content: center;
    align-items: center; }

a {
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.containerUno {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around; }
  .containerUno .navegacion {
    display: flex;
    height: 45rem;
    width: 19rem;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: space-around; }
    .containerUno .navegacion .pages:hover {
      color: mediumvioletred;
      width: 150px;
      flex-direction: row;
      display: flex;
      justify-content: center;
      transform: scale(1, 2); }
  .containerUno .bar {
    display: flex;
    height: 270px;
    width: 290px; }

.p2 {
  display: flex;
  height: 45rem;
  width: 19rem;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  justify-content: space-around; }
  .p2 .pages:hover {
    color: mediumvioletred;
    width: 150px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    transform: scale(1, 2); }
  .p2 .bar {
    display: flex;
    height: 270px;
    width: 290px; }
/* estilo para pagina menu bebidas */
.containerDos {
  display: grid;
  grid-template-columns: 25% 25% 40%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10%;
  height: 960px;
  margin: 5px;
  padding: 10px;
  flex-flow: wrap; }
  .containerDos .menu {
    display: grid;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin: 10px;
    background-image: url(https://i.pinimg.com/474x/4d/dd/43/4ddd4348f7ea5a88948f4e9b32dfb678.jpg);
    background-position: center;
    background-size: cover; }
  .containerDos .bebida {
    display: grid;
    grid-template-columns: 55%;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: 10px;
    padding-right: 40px;
    background-image: url(https://i.pinimg.com/474x/4d/dd/43/4ddd4348f7ea5a88948f4e9b32dfb678.jpg);
    background-position: center;
    background-size: cover; }
  .containerDos .cerveza {
    display: grid;
    grid-column: 3/5;
    grid-row: 1/11;
    justify-content: center;
    height: 100%; }
    .containerDos .cerveza .corona {
      height: 400px;
      width: 90%;
      margin-left: 30px;
      height: 410px; }
/* estilos para pagina playlist */
header h2 {
  font-weight: bold; }

.row {
  margin-bottom: 70px; }
  .row .col-6 {
    font-size: 10px; }
    .row .col-6 .cover {
      height: 270px;
      width: 290px; }
  .row .col-6 .musica {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold; }
  .row .col-6 {
    font-size: 10px; }
    .row .col-6 .cover {
      height: 150px;
      width: 170px; }
  .row .col-6 .musica {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold; }

.row {
  margin-bottom: 70px; }
  .row .col-6 {
    font-size: 10px; }
    .row .col-6 .cover {
      height: 270px;
      width: 290px; }
  .row .col-6 .musica {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold; }
  .row .col-6 {
    font-size: 10px; }
    .row .col-6 .cover {
      height: 150px;
      width: 170px; }
  .row .col-12 .musica {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold; }
/* estilos para pagina momentos */
.momentos1 {
  background-color: #323030;
  color: whitesmoke; }
  .momentos1 i {
    display: flex;
    justify-content: center; }

.momentos {
  background-color: mediumvioletred;
  color: black; }
  .momentos i {
    display: flex;
    justify-content: center; }

.noches {
  display: flex;
  justify-content: center;
  height: 230px; }
  .noches .fotos {
    display: flex;
    height: 260px;
    width: 270px; }

span p {
  text-align: center;
  color: aliceblue;
  margin-top: 55px; }
/* estilo para paginas WanoUs */
.nosotros {
  display: flex;
  justify-content: center; }
  .nosotros .preguntas {
    background-color: #6a6868;
    justify-content: center; }

i p {
  text-align: center;
  color: aliceblue;
  font-weight: bold; }

.pictures {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-bottom: 25px; }
  .pictures .cover {
    width: 93px;
    height: 140px; }
