
//colores//
$color-principal:mediumvioletred;
$color-secundario:whitesmoke;
$color-alterno: black;
$background-link: rgb(240, 248, 255);
$color-menu: rgb(245, 245, 245);

//tamanios//
$logo:45px;
$titulo:23px;
$frase:18px;


