
//colores//
$color-principal:mediumvioletred;
$color-secundario:whitesmoke;
$color-tres: black;
$color-cuatro:aliceblue; 
$color-alterno: rgb(50, 48, 48);


//tamanios//
$logo:45px;
$titulo:23px;
$frase:18px;
$imagen-altura:270px;
$imagen-ancho:290px;

//tipografias//



